$max-width: 60rem;
$bigger-max-width: 70rem;
$half-width: ($max-width - 1.5) / 2;
$bigger-half-width: ($bigger-max-width - 1.5) / 2;
$full-width: 64rem;
$bigger-full-width: 74rem;
$one-third-width: 21rem;
$two-third-width: 37.5rem;
@import 'normalize';
@import 'mixins';
@import 'colors';
@import 'typography';
@import 'ui';
// @import 'modal';
// @import 'svg';
// @import 'search';
* {
  box-sizing: border-box;
}
input:focus, select:focus, textarea:focus, button:focus {
  outline: none;
}
img {
  width: 100%;
}
html {
  overflow-x: hidden;
}
.container {
  max-width: 32rem;
  width: 80%;
  position: relative;
  margin: 0 auto;
}
body {
  // background: url(../images/bg.jpg);
  background: #fffefd;
}
header {
  text-align: center;
  padding: 0 0 10rem 0;
  // min-height: 100vh;
  //overflow: hidden; // prevent animation creating overscroll
  .container {
    svg {
      &.hex, &.logo {
        display: block;
        margin-bottom: .2rem;
        width: 32rem;
      }
      &.hex {
        float: left;
        width: auto;
        margin-top: 1rem;
      }
    }
    h1 {
      // text-indent: -10000px;
      // background: url(../images/eolas.png); // png fallback for non-svg browsers
      // background: url(../images/eolas.svg);
      // background-repeat: no-repeat;
      // height: 11rem;
      // width: 100%;
      position: absolute;
      left: -1000%;
      opacity: .1;
      text-align: center;
    }
    h2 {
      text-transform: uppercase;
      font-family: $light-font;
      font-weight: 100;
      margin: 0;
      line-height: 0;
      letter-spacing: 0.01rem;
    }
    h3 {
      margin: 2rem 0;
      font-size: 1.5rem;
      line-height: 2rem;
    }
    p {
      text-align: left;
      max-width: 25rem;
      margin-left: auto;
      margin-right: auto;
    }
    .scroll {
      h3 {
        margin-bottom: .5rem;
      }
    }
  }
}
ol {
  list-style-type: none;
  section {
    overflow: hidden; // prevent animation creating overscroll
    padding: 5rem 0 5rem 0;
    // min-height: 100vh;
    h1 {
      text-transform: uppercase;
    }
    h2 {
      text-align: left;
      max-width: 25rem;
      line-height: 2rem;
      margin: 0 auto;
      display: block;
    }
    p {
      text-align: left;
      max-width: 25rem;
      margin-left: auto;
      margin-right: auto;
    }
  }
  .number {
    width: 4rem;
    height: 4rem;
    display: inline-block;
    position: absolute;
    left: -5rem;
    top: 0.6rem;
    svg {
      .num1 {
        fill: #FDEA14;
      }
      .num2 {
        fill: #75b72c;
      }
      .num3 {
        fill: #0992d1;
      }
      .white-fill {
        fill: #FFFFFF;
      }
      .bold-font {
        font-size: 40px;
      }
    }
  }
}
.scrollUp {
  margin: 0 auto;
  cursor: pointer;
  svg {
    // display: block;
    width: 100%;
  }
  h3 {
    margin-bottom: .5rem;
    text-align: center;
  }
}
